.jumbotron{
  margin:0px;              /*for the white gap under the jumbotron*/
}

/* For width smaller than 600px: */
.dashboard {
    background-image: url('../images/zbynek-burival-GrmwVnVSSdU-unsplash.jpg');
    background-repeat: no-repeat;
/*    background-size: 1920px 1313px;*/
    background-size: cover;
  }
  
  /* For width 400px and larger: */
  @media (min-width: 1920px) {
    .dashboard {
      background-image: url('../images/zbynek-burival-GrmwVnVSSdU-unsplash_lg.jpg');
      background-repeat: no-repeat;
  /*    background-size: 3626px 2479px;*/
      background-size: cover;
    }
  }


.box {
    background-color: gray;
    opacity: 0.80;
}

.aboutBlock {
    background-color: black;
  }

.spacer30 {
  height: 30px;
}

.spacer10 {
    height: 10px;
  }



/* .svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
} */

/* .svg-container {
    width: 50%;
    height: 0;
    padding-top: 48%;
    position: relative;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
} */