<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About the Crude Oil Dashboard</title>
</head>
<body>
    For this dashboard, we wanted to dive into important aspects of the crude oil market here in the US. 
    This includes the historic price per barrel, the proven reserves, the amount of exports and imports, and the production of crude oil in the US. 
    We were curious to observe, to whatever extent possible, the effects of the coronavirus and Saudi Arabia's increased production on the US crude oil market. 
    The early returns of the data show a rather precipitous decline in US crude oil exports with a matching decline in crude oil prices.
    This early data and general world events portend a disasterous year for US crude oil producers, but are encouraging trends for the motorist. 
    Now, let us extrapolate some conclusions from the charts in the dashboard:
        ~ The line chart tracking the amount of proven US crude oil reserves shows a very encouraging trend. We have more proven crude oil reserves today than at any other point 
           in US history, so there should be no need to fear about reaching "peak oil" at any point in the near future. One specific section of the graph to highlight is from 2008 to today.
           In 2008, the US was at its lowest point in proven oil reserves since 1940 but has since shot up to its highest recorded amount of proven crude oil reserves as of this year. What caused this spike? 
           Well, in April 2008, the USGS released a report which stated that the Bakken Formation in Montana and North Dakota had somewhere between 3.0 and 4.5 billion barrels of undiscovered, recoverable oil,
           which would make it the largest "continuous" oil accumulation.
        ~ The oil imports and exports line chart shows both a slight downward trend in imports and a slight uptick in exports over the past year. As noted above, there is a percipitous drop in exports in mid-march, 
           which is probably due to a decrease in global crude oil consumption as more and more countries have instituted quarantine policies. It is also interesting to observe the volitility in the crude oil market. 
        ~ The tile map of crude oil production in the US helps to visualize the concentrations of crude oil production in the country. From looking at the map, one can see that most of the oil production is in the south 
           and west of the country with very few eastern states being oil producers. Slightly more than half of the states produce some crude oil. 
        ~ The pie chart of crude oil production over ten years has some interesting take-aways. Texas has become the dominant oil producer in the US, producing 40% of the nation's crude oil in 2018. North Dakota has 
           has drastically increased its oil production over the last ten years, going from a bit player to the second leading oil producer in the last year. Also, the US as a whole has almost doubled its oil production in the last ten years. 
</body>
</html>